= render "shared/main_layout"
- if params[:title] == "bookings"
  :javascript
    this.bookingGraph(#{@title_hash[:number_of_bookings]}, #{@cancellations_hash[:number_of_cancellations]})
%p
  Bookings #{@title_hash}
%p
  Cancellations #{@cancellations_hash}