= render "shared/main_layout"
- if params[:title] == "cancellations"
  :javascript
    this.bookingGraph(#{@bookings_hash[:number_of_bookings]}, #{@title_hash[:number_of_cancellations]})
- if params[:title] == "location"
  :javascript
    this.bookingGraph(#{@bookings_hash[:number_of_bookings]}, #{@title_hash})

%p
  Bookings #{@bookings_hash}
%p
  Cancellations #{@title_hash}