%h1 Getaways Metrics

.row-fluid
  .span2
    #accordion2.accordion
      .accordion-group
        .accordion-heading
          %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseOne"}
            Bookings
        #collapseOne.accordion-body.collapse{:style => "height: 0px; "}
          .accordion-inner
            %p
              = link_to 'Cancellations', bookings_path(:title => 'cancellations')
            %p
              = link_to 'Weather', bookings_path(:title => 'weather')
            %p
              = link_to 'Destination', bookings_path(:title => 'destination')
            %p
              = link_to 'Location', bookings_path(:title => 'location')

      .accordion-group
        .accordion-heading
          %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseTwo"}
            Cancellations
        #collapseTwo.accordion-body.collapse{:style => "height: 0px; "}
          .accordion-inner
            %p
              = link_to 'Bookings', cancellations_path(:title => 'cancellations')
            %p
              = link_to 'Weather', cancellations_path(:title => 'weather')
            %p
              = link_to 'Destination', cancellations_path(:title => 'destination')
            %p
              = link_to 'Location', cancellations_path(:title => 'location')

      .accordion-group
        .accordion-heading
          %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseThree"}
            Destination
        #collapseThree.accordion-body.collapse{:style => "height: 0px; "}
          .accordion-inner
            %p
              = link_to 'Bookings', bookings_path(:title => 'bookings')
            %p
              = link_to 'Cancellations', bookings_path(:title => 'cancellations')
            %p
              = link_to 'Weather', bookings_path(:title => 'weather')
            %p
              = link_to 'Location', bookings_path(:title => 'location')

      .accordion-group
        .accordion-heading
          %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseFour"}
            Location
        #collapseFour.accordion-body.collapse{:style => "height: 0px; "}
          .accordion-inner
            %p
              = link_to 'Bookings', locations_path(:title => 'bookings')
            %p
              = link_to 'Cancellations', locations_path(:title => 'cancellations')
            %p
              = link_to 'Weather', locations_path(:title => 'weather')
            %p
              = link_to 'Destination', locations_path(:title => 'destination')
  .span6
    = render "shared/bookings_graph"