.span4
  #detail Tracking Metrics
  %table.table.table-striped
    %thead
      %tr
        %th Metric
        %th Value
    %tbody
      %tr
        %td Name
        %td #{}
      %tr
        %td Tracking Statistic
        %td #{}
      %tr
        %td Daily High
        %td #{@max}
      %tr
        %td Daily Low
        %td #{@min}

  .hero-unit
    #mini-graph
      = javascript_include_tag "application"