%h1.header Getaways Metrics

.row-fluid
  .span2
    .menu
      %p.item
        = link_to "Bookings", bookings_path
      %p.item
        = link_to "Cancellations", cancellations_path

    #accordion2.accordion
      .accordion-group
        .accordion-heading
          %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseFour"}
            Location
        #collapseFour.accordion-body.collapse{:style => "height: 0px; "}
          .accordion-inner
            %p
              = link_to 'Bookings', locations_path(:title => 'bookings')
            %p
              = link_to 'Cancellations', locations_path(:title => 'cancellations')
  .span9
    .hero-unit
      #map-layout
        = render "shared/map_svg"
        - if params[:title] == "bookings"
          :javascript
            var Booking = Booking || {};
            Booking.locations = #{@locations.to_json};
            App.locationMap("bookings", Booking.locations)
        - if params[:title] == "cancellations"
          :javascript
            var Cancellation = Cancellation || {};
            Cancellation.locations = #{@locations.to_json};
            App.locationMap("cancellations", Cancellation.locations)

        = render "shared/radio_buttons"