<!DOCTYPE html>
%html
  %head
    %title Apprentice Project - Getaways Metrics
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %h1 Getaways Metrics
    .navbar.navbar-fixed-top
      #logo
        %a{:href => "/"}
          %img{:src => "../assets/groupon_logo.png"}
      .navbar-inner
        .container
          .nav-collapse.collapse

    .row-fluid
      .span2
        %dl
          %dt Getaways
          %dd
            %a{:href => "/"} All of Getaways

          %dt.sidemenu Destinations
          %dd 
            %a{:href => "/"} US
          %dd 
            %a{:href => "/"} Canada
          %dd 
            %a{:href => "/"} Mexico, Caribbean, & Latin America
          %dd 
            %a{:href => "/"} Europe, Asia, Africa, & Oceania

          %dt.sidemenu Deal Parameters
          %dd 
            %a{:href => "/"} Select Deal
          %dd 
            %a{:href => "/"} By Price
          %dd 
            %a{:href => "/"} By Percentage Discount
          %dd 
            %a{:href => "/"} By Reservation Date
          %dd 
            %a{:href => "/"} By Tags

          %dt.sidemenu Metrics
          %dd
            = link_to "Cancellations"
          %dd
            = link_to "Bookings"

      .span6
        #title= "Metrics Tracker"
        #refresh= link_to "Refresh Graph"
        = yield

      = render "shared/tracking_metrics"

  %footer
    = debug params